{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
{%- set args = [] %}
{%- for k, v in (dataclass_arguments or {}).items() %}
    {%- if v is not none and v is not false %}
        {%- set _ = args.append(k ~ '=' ~ (v|pprint)) %}
    {%- endif %}
{%- endfor %}
{%- if args %}
@dataclass({{ args | join(', ') }})
{%- else %}
@dataclass
{%- endif %}
{%- set bases = [] %}
{%- set _is_child_class = (model_base_class is defined and model_base_class and base_class and base_class != model_base_class) %}
{%- if validation_mixin_class and not _is_child_class and not (skip_validation_mixin is defined and skip_validation_mixin) %}
    {%- set _ = bases.append(validation_mixin_class) %}
{%- endif %}
{%- if mixins is defined and mixins %}
    {%- for mixin in mixins %}
        {%- set _ = bases.append(mixin) %}
    {%- endfor %}
{%- endif %}
{%- if extensions is defined and extensions.get('x-response-type') %}
    {%- set _response_class = extensions['x-response-type']['$ref'].split('/')[-1] %}
    {%- set _ = bases.append("DataClassResponseMixin['" + _response_class + "']") %}
{%- endif %}
{%- if base_class %}
    {%- set _ = bases.append(base_class) %}
{%- endif %}
{%- if bases %}
class {{ class_name }}({{ bases | join(', ') }}):
{%- else %}
class {{ class_name }}:
{%- endif %}
{%- if description %}
    """
    {{ description | escape_docstring | indent(4) }}
    """
{%- endif %}
{%- set _has_request_object = request_object is defined and request_object and extensions is defined and extensions.get('x-request-type') %}
{%- set _has_custom_metadata = custom_metadata is defined and custom_metadata %}
{%- set _has_hidden_fields = hidden_fields is defined and hidden_fields %}
{%- set _has_init_fields = init_fields is defined and init_fields %}
{%- if not fields and not description and not _has_request_object and not _has_custom_metadata and not _has_hidden_fields and not _has_init_fields %}
    pass
{%- endif %}
{%- if _has_request_object %}
    {%- set _request_class = extensions['x-request-type']['$ref'].split('/')[-1] %}
    __request_object__: InitVar[{{ _request_class }} | None] = None
{%- endif %}
{%- if _has_custom_metadata %}
    __custom_metadata__: InitVar[dict[str, Any] | None] = None
{%- endif %}
{%- if _has_hidden_fields %}
{%- for hf in hidden_fields %}
    {{ hf.name }}: {{ hf.type }} | None = None
{%- endfor %}
{%- endif %}
{%- if _has_init_fields %}
{%- for ivf in init_fields %}
    {{ ivf.name }}: InitVar[{{ ivf.type }} | None] = None
{%- endfor %}
{%- endif %}
{%- for field in fields -%}
    {%- set _meta = {} %}
    {%- if field.constraints and field.constraints.has_constraints %}
        {%- if field.constraints.min_length is not none %}
            {%- set _ = _meta.update({"min_length": field.constraints.min_length}) %}
        {%- endif %}
        {%- if field.constraints.max_length is not none %}
            {%- set _ = _meta.update({"max_length": field.constraints.max_length}) %}
        {%- endif %}
    {%- endif %}
    {%- if _meta %}
        {%- set _field_args = [] %}
        {%- if not (field.required or (field.represented_default == 'None' and field.strip_default_none)) %}
            {%- set _ = _field_args.append('default=' ~ field.represented_default) %}
        {%- endif %}
        {%- set _ = _field_args.append('metadata=' ~ (_meta | pprint)) %}
    {{ field.name }}: {{ field.type_hint }} = field({{ _field_args | join(', ') }})
    {%- elif field.field %}
    {{ field.name }}: {{ field.type_hint }} = {{ field.field }}
    {%- if 'Literal[' in field.type_hint %}  # type: ignore[assignment]
    {%- endif -%}
    {%- else %}
    {{ field.name }}: {{ field.type_hint }}
    {%- if not (field.required or (field.represented_default == 'None' and field.strip_default_none))
            %} = {{ field.represented_default }}
    {%- endif -%}
    {%- endif %}
    {%- if field.docstring %}
    """
    {{ field.docstring | escape_docstring | indent(4) }}
    """
{%- if field.use_inline_field_description and not loop.last %}

{% endif %}
    {%- elif field.inline_field_docstring %}
    {{ field.inline_field_docstring }}
{%- if not loop.last %}

{% endif %}
    {%- endif %}
{%- endfor %}
{%- if not _is_child_class and not (skip_validation_mixin is defined and skip_validation_mixin) %}

    # mashumaro config class
    {%- if config_base_class %}
    class Config({{ config_base_class }}):
    {%- else %}
    class Config:
    {%- endif %}
    {%- if extensions is defined and extensions.get('x-response-type') %}
        response_type: str = "{{ extensions['x-response-type']['$ref'].split('/')[-1] }}"
    {%- endif %}
    {%- if extensions is defined and extensions.get('x-type-id') %}
        type_id: str = "{{ extensions['x-type-id'] }}"
    {%- endif %}
    {%- if extensions is defined and extensions.get('x-type-schema') %}
        type_schema: str = "{{ extensions['x-type-schema'] }}"
    {%- endif %}
    {%- if extensions is defined and extensions.get('x-opc-ua-type') %}
        opcua_type: str = "{{ extensions['x-opc-ua-type'] }}"
    {%- endif %}
    {%- if extensions is defined and extensions.get('x-opc-ua-state-machine') %}
        opcua_state_machine: str = "{{ extensions['x-opc-ua-state-machine'] }}"
        opcua_state_machine_states: list[dict[str, Any]] = [
    {%- for key, value in extensions['x-opc-ua-state-machine']['states'].items() %}
            # {{ value['description'] }}
            {"name": "{{ key }}"{%- if value['subStateMachine'] %},
            "children": [
                {%- for sub_key, sub_value in value['subStateMachine']['states'].items() %}
                # {{ sub_value['description'] }}
                {"name": "{{ sub_key }}"},
                {%- endfor %}
            ],
            "transitions": [
                {%- for sub_key, sub_value in value['subStateMachine']['transitions'].items() %}
                # {{ sub_value['description'] }}
                {"trigger": "{{ value['cause'] if value['cause'] else key }}{{ sub_value['cause'] if sub_value['cause'] else sub_key }}", "source": "{{ sub_value['fromState'] }}", "dest": "{{ sub_value['toState'] }}"},
                {%- endfor %}
            ]{%- endif %}
            },
    {%- endfor %}
        ]
        opcua_state_machine_state_ids: dict[str, str] = {
    {%- for key, value in extensions['x-opc-ua-state-machine']['states'].items() %}
            "{{ key }}": "{{ value['number'] }}",{%- if value['subStateMachine'] %}
            {%- for sub_key, sub_value in value['subStateMachine']['states'].items() %}
            "{{ key }}_{{ sub_key }}": "{{ value['number'] }}_{{ sub_value['number'] }}",
            {%- endfor %}{%- endif %}
    {%- endfor %}
        }
        opcua_state_machine_transitions: list[dict[str, str]] = [
    {%- for key, value in extensions['x-opc-ua-state-machine']['transitions'].items() %}
            # {{ value['description'] }}
            {"trigger": "{{ value['cause'] if value['cause'] else key }}", "source": "{{ value['fromState'] }}", "dest": "{{ value['toState'] }}"},
    {%- endfor %}
        ]
        opcua_state_machine_effects: dict[str, str] = {
    {%- for key, value in extensions['x-opc-ua-state-machine']['transitions'].items() %}
            "{{ value['cause'] if value['cause'] else key }}": "{{ value['effect'] if value['effect'] else None}}",
    {%- endfor %}
        }
    {%- endif %}
    {%- set _has_aliases = fields | selectattr('alias', 'ne', None) | list | length > 0 %}
    {%- if _has_aliases %}
        aliases: dict[str, str] = {
    {%- for field in fields %}
        {%- if field.alias is not none %}
            "{{ field.name }}": "{{ field.alias }}",
        {%- endif %}
    {%- endfor %}
        }
    {%- endif %}
    {%- set _has_config_body = (extensions is defined and (extensions.get('x-response-type') or extensions.get('x-type-id') or extensions.get('x-type-schema') or extensions.get('x-opc-ua-type') or extensions.get('x-opc-ua-state-machine'))) or _has_aliases %}
    {%- if not _has_config_body %}
        pass
    {%- endif %}
{%- endif %}